.DS_Store
/build/
/cmake-build-debug/
/data/
data
/.idea/
/tests/CMakeFiles/
/.vscode/
/tests/CTestTestfile.cmake
/tests/Makefile
/tests/cmake_install.cmake

compile_commands.json
/example/
/samples/
/batch_file/